.projectInfoContainer {
  background-color: White;
  box-shadow: 2px 2px 2px #888888;
  margin-top: 10px;
  color: Black;
  padding: 2%;
  text-align: justify;
  flex-grow: 1;
  display: block;
  border-radius: 25px;
  font-family: "Segoe UI";
}
.projectStatus {
  margin-top: -1%;
  font-size: large;
}
